
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: rgb(133, 132, 132) ;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241, 241, 241);
    padding-left: 80px;
    padding-right: 80px;
    position: sticky;
    top: 0;
    right: 0;
}

header #bar {
    display: none;
}

nav #close {
    display: none;
    width: 10px;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: #8a8a8a;
    transition: 0.3s;
}

nav li a:hover {
    color: #27AAE1;
}

nav li a.active {
    color: #27AAE1;
}

nav li a.active::after {
    content: '';
    background-color: #27AAE1;
    width: 25px;
    height: 4px;
    display: block;
}

nav li a:hover::after{
    content: '';
    background-color: #27AAE1;
    width: 25px;
    height: 4px;
    display: block;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 80px 20px 80px;
}

#banner-container {
    background-image: linear-gradient(rgb(138, 138, 138), rgb(73, 73, 73)), ;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#banner-container .front-banner{
    width: 100%;
    object-fit: cover;
}

.articles {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.post {
    width: 50%;
    font-size: 13px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    transition: 0.3s;
}

.post img {
    width: 150px;
}

.post:hover {
    background-color: #bebebe;
    cursor: pointer;
}

.post-details {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.post-details h2 {
    margin-bottom: 10px;
    text-align: left;
}

.post-details p {
    text-align: left;
    margin-bottom: 10px;
    font-size: 13px;
}

.post-details button {
    padding: 5px 8px 5px 8px;
    width: 150px;
    border-radius: 20px;
    margin-right: 20px;
    text-align: center;
    border: none;
    background-color: black;
    color: #fff;
}

.post-details button:hover {
    background-color: #27AAE1;
    color: #fff;
}

#post-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 80px 20px 80px;
}

.single-post {
    padding: 0px;
}

.single-post-details {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
}

.single-post-details h1 {
    margin-bottom: 10px;
}


.single-post-details h2 {
    margin-bottom: 10px;
    text-align: left;
}

.single-post-details p {
    text-align: left;
    margin-bottom: 20px;
}

.single-post-details button {
    padding: 20px;
    border-radius: 20px;
    margin-right: 10px;
    text-align: center;
    border: none;
    background-color: black;
    color: #fff;
}

.single-post-details button:hover {
    background-color: #27AAE1;
    color: #fff;
}

.pagination {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 20px;
}

.pagination div {
    background-color: #000000;
    padding: 25px;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.pagination div:hover{
    background-color: #186688;
}

#newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27AAE1;
}

#newsletter input {
    padding: 10px 30px 10px 30px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 15px;
    border: none;
}

#newsletter button {
    padding: 10px 30px 10px 30px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 15px;
    border: none;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(241, 241, 241);
    color: #8a8a8a;
}

footer p {
    padding: 20px 80px 20px 80px;
    text-align: center;
}

footer .social-media-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

footer .social-media-links div{
     width: 25px;
     height: 25px;
     background-color: #27AAE1;
     border-radius: 12.5px;
}

/*.....portfolio.....*/

#hero {
    width: 100%;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 80px 20px 80px;
}

.category .row{
    width: 100%;
    display: flex;
    flex-direction: row;
}


.category .row div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(imgs/banners/Cover1.png);
    background-position: 75%;
    margin: 10px 10px;
    transition: 0.3s;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}

.category .row div:hover {
    background-image: linear-gradient(rgba(124, 124, 124, 0.5),rgba(124, 124, 124, 0.5)), url(imgs/banners/Cover1.png);
    cursor: pointer;
}

/*.....about.....*/



/*.....contact.....*/

#contact {
    width: 100%;
    height: 100vh;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:flex-start;
    margin-bottom: auto;
}

.team {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

#member {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; 
    margin: 20px 0px;
    color: #fff;
}

.profile-pic {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    margin-right: 10px;
}

form {
    width: 50%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 0.40em;
    background-color: #c2c2c2;
    border-radius: 10px;
    color: #fff;
}

form div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}
form h4 {
    margin-bottom: 10px;
}

form input {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border: none;
    margin-bottom: 12px;
    background-color: #7e7e7e;
    padding: 10px 20px;
}


form ::placeholder{
    color: #fff;
}

form textarea {
    width: 100%;
    border-radius:  10px;
    padding: 10px 20px;
    background-color: #7e7e7e;
}

form button {
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-top: 12px;
}

form button:hover {
    background-color: #7e7e7e;
    color: #fff;
}



/*.....Media Query.....*/

@media (max-width: 799px){
    body {
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
    }

    header {
        padding: 0px 15px;
        position: sticky;
    }

    #container {
       width: 100%;
       padding: 15px 30px;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       overflow: hidden;
    }

    #post-container {
        padding: 15px 30px;
    }

    #banner-container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    #banner-container .front-banner{
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: rgb(192, 192, 192);
        transition: 0.3s;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        margin: 30px;
    }

   .active {
        right: 0px;
    }

    nav a {
        margin-top:  10px;
        margin-bottom:  10px;
    }

    header #bar {
        display: flex;
        width: 25px;
    }
    
    nav #close {
        display: flex;
        width: 25px;
        margin: 30px;
    }

    .post {
        width: 100%;
        margin: 10px 0px;
    }

    .post-details {
        width: 100%;
    }

    .articles {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0px;
    }

    .single-post {
        width: 100%;
        margin: 10px 0px;
        padding: 0px;
    }

    .single-post-details {
        padding: 15px;
    }

    .single-post-details h1 {
        font-size: 17px;
    }

    .single-post-details p {
        font-size: 13px;
    }

    .single-post-details button {
        padding: 15px;
        border-radius: 20px;
        margin-right: 0px;
        text-align: center;
        border: none;
        background-color: black;
        color: #fff;
    }

    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #contact {
        padding: 0px;
        display: flex;
        flex-direction: column;
    }

    form {
        width: 100%;
    }

    footer p{
        padding: 20px 20px;
    }


    .category {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 30px;
    }

    .category .row {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .category .row div {
        width: 100%;
        margin: 10px 0px;
    }
    
}


@media (max-width: 499px){
    #container {
        padding: 15px 30px;
    }

    #post-container {
        padding: 15px 30px;
    }
    
}
